.main {
  display: flex;
  align-items: center;
  width: 100%;
  align-self: center;
}

form {
  border: solid black;
  margin: 10px;
  height: 440px;
  background-color: rgb(218, 178, 126);
  padding: 10px;
}

.formItem {
  margin-bottom: 10px;
}

.card {
  margin: 10px;
  border: solid black;
  text-align: center;
  width: 300px;
}

.card img {
  width: 150px;
}

.imgInput {
  margin-left: 5px;
  width: 162px;
}
