.main {
  align-items: center;
  align-self: center;
  display: flex;
  width: 100%;
}

.main .card .deleteButton {
  display: none;
}

.pageDeck {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

form {
  background-color: rgb(218, 178, 126);
  border: solid black;
  height: 460px;
  margin: 10px;
  padding: 10px;
}

.formItem {
  margin-bottom: 10px;
}

.card {
  border: solid black;
  margin: 10px;
  min-height: 460px;
  text-align: center;
  width: 300px;
}

.card img {
  width: 150px;
}

.imgInput {
  margin-left: 5px;
  width: 162px;
}
